In [69]:
!pip install nltk

Requirement already satisfied: nltk in f:\siika\python\lib\site-packages (3.7)

WARNING: Ignoring invalid distribution -ip (f:\siika\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\siika\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\siika\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\siika\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\siika\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\siika\python\lib\site-packages)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: tqdm in f:\siika\python\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: click in f:\siika\python\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in f:\siika\python\lib\site-packages (from nltk) (2022.10.31)
Requirement already satisfied: joblib in f:\siika\python\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: colorama in f:\siika\python\lib\site-packages (from tqdm->nltk) (0.4.5)

In [70]:
import pandas as pd 
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [71]:
df_data_scientist = pd.read_csv("Training_Data/Data Scientist.csv")
df_data_engineer = pd.read_csv("Training_Data/Data Engineer.csv")
df_data_analyst = pd.read_csv("Training_Data/Data Analyst.csv")
df_machine_learning = pd.read_csv("Training_Data/Machine Learning.csv")

df=pd.concat([df_data_scientist,df_data_analyst,df_data_engineer,df_machine_learning])
print(df.shape)
df.head()

(6615, 12)

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,0,Microsoft\n4.4,Data & Applied Scientist,"Redmond, WA",Microsoft 365 is a key part of the company’s c...,"$123,486 /yr (est.)",10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1975.0,$10+ billion (USD)
1,1,UT Southwestern Medical Center\n4.0,Data Scientist or Bioinformatician (remote),Remote,Center Information:\nThe Quantitative Biomedic...,"$93,500 /yr (est.)",10000+ Employees,Hospital,Healthcare,Health Care Services & Hospitals,1943.0,$1 to $5 billion (USD)
2,2,Notion\n4.9,"Data Scientist, Growth","New York, NY",About Us:\nWe're on a mission to make it possi...,"$137,853 /yr (est.)",201 to 500 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2016.0,Unknown / Non-Applicable
3,3,CODING DOJO INC\n3.9,Coding Bootcamp Data Scientist (Virtual/Remote),Remote,"This is a full-time, virtual/remote position i...",NaN,51 to 200 Employees,Company - Private,Education,Education & Training Services,2013.0,$5 to $25 million (USD)
4,4,Net2Aspire0,Jr. Data Scientist,Remote, Apply Statistical and Machine Learning metho...,"$72,500 /yr (est.)",Unknown,Company - Public,NaN,NaN,NaN,Unknown / Non-Applicable

1-Seperate the rating from the company name

2-parsing Job Describtion

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6615 entries, 0 to 1938
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        6615 non-null   int64
 1   company           6503 non-null   object
 2   job title         6512 non-null   object
 3   location          6512 non-null   object
 4   job description   6512 non-null   object
 5   salary estimate   5112 non-null   object
 6   company_size      6093 non-null   object
 7   company_type      6093 non-null   object
 8   company_sector    5154 non-null   object
 9   company_industry  5154 non-null   object
 10  company_founded   4509 non-null   float64
 11  company_revenue   6093 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 671.8+ KB

In [73]:
df=df[df['salary estimate'].notna()]
df=df[df['company'].notna()]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5103 entries, 0 to 1938
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5103 non-null   int64
 1   company           5103 non-null   object
 2   job title         5103 non-null   object
 3   location          5103 non-null   object
 4   job description   5103 non-null   object
 5   salary estimate   5103 non-null   object
 6   company_size      4745 non-null   object
 7   company_type      4745 non-null   object
 8   company_sector    3954 non-null   object
 9   company_industry  3954 non-null   object
 10  company_founded   3457 non-null   float64
 11  company_revenue   4745 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 518.3+ KB

In [74]:
df.drop_duplicates(inplace=True)
df.shape

(2084, 12)

In [75]:
df.drop(columns=['Unnamed: 0'],axis=1,inplace=True)
df.reset_index(drop=True,inplace=True)
df.head()

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,Microsoft\n4.4,Data & Applied Scientist,"Redmond, WA",Microsoft 365 is a key part of the company’s c...,"$123,486 /yr (est.)",10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1975.0,$10+ billion (USD)
1,UT Southwestern Medical Center\n4.0,Data Scientist or Bioinformatician (remote),Remote,Center Information:\nThe Quantitative Biomedic...,"$93,500 /yr (est.)",10000+ Employees,Hospital,Healthcare,Health Care Services & Hospitals,1943.0,$1 to $5 billion (USD)
2,Notion\n4.9,"Data Scientist, Growth","New York, NY",About Us:\nWe're on a mission to make it possi...,"$137,853 /yr (est.)",201 to 500 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2016.0,Unknown / Non-Applicable
3,Net2Aspire0,Jr. Data Scientist,Remote, Apply Statistical and Machine Learning metho...,"$72,500 /yr (est.)",Unknown,Company - Public,NaN,NaN,NaN,Unknown / Non-Applicable
4,Ntropy Network0,Data Scientist,Remote,"Over the last few decades, technological innov...","$155,000 /yr (est.)",1 to 50 Employees,Company - Private,NaN,NaN,NaN,Unknown / Non-Applicable

In [76]:
df["salary estimate"]=df['salary estimate'].apply(lambda x : x.split("(")[0])
df["salary estimate"]=df['salary estimate'].apply(lambda x : x.replace('$',''))
df['hourly']=df['salary estimate'].apply(lambda x:1 if 'hr' in x else 0)
df["salary estimate"]=df['salary estimate'].apply(lambda x : float(x.split("/")[0].replace(',','')))



df.head()

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,hourly
0,Microsoft\n4.4,Data & Applied Scientist,"Redmond, WA",Microsoft 365 is a key part of the company’s c...,123486.0,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1975.0,$10+ billion (USD),0
1,UT Southwestern Medical Center\n4.0,Data Scientist or Bioinformatician (remote),Remote,Center Information:\nThe Quantitative Biomedic...,93500.0,10000+ Employees,Hospital,Healthcare,Health Care Services & Hospitals,1943.0,$1 to $5 billion (USD),0
2,Notion\n4.9,"Data Scientist, Growth","New York, NY",About Us:\nWe're on a mission to make it possi...,137853.0,201 to 500 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2016.0,Unknown / Non-Applicable,0
3,Net2Aspire0,Jr. Data Scientist,Remote, Apply Statistical and Machine Learning metho...,72500.0,Unknown,Company - Public,NaN,NaN,NaN,Unknown / Non-Applicable,0
4,Ntropy Network0,Data Scientist,Remote,"Over the last few decades, technological innov...",155000.0,1 to 50 Employees,Company - Private,NaN,NaN,NaN,Unknown / Non-Applicable,0

In [77]:
df['rating']=df['company'].apply(lambda  x: x[-3:] if '\n'in x else 'no rating')
df['company']=df['company'].apply(lambda x: x[:-4] if '\n'in x else x[:-1])


df.head()

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,hourly,rating
0,Microsoft,Data & Applied Scientist,"Redmond, WA",Microsoft 365 is a key part of the company’s c...,123486.0,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1975.0,$10+ billion (USD),0,4.4
1,UT Southwestern Medical Center,Data Scientist or Bioinformatician (remote),Remote,Center Information:\nThe Quantitative Biomedic...,93500.0,10000+ Employees,Hospital,Healthcare,Health Care Services & Hospitals,1943.0,$1 to $5 billion (USD),0,4.0
2,Notion,"Data Scientist, Growth","New York, NY",About Us:\nWe're on a mission to make it possi...,137853.0,201 to 500 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2016.0,Unknown / Non-Applicable,0,4.9
3,Net2Aspire,Jr. Data Scientist,Remote, Apply Statistical and Machine Learning metho...,72500.0,Unknown,Company - Public,NaN,NaN,NaN,Unknown / Non-Applicable,0,no rating
4,Ntropy Network,Data Scientist,Remote,"Over the last few decades, technological innov...",155000.0,1 to 50 Employees,Company - Private,NaN,NaN,NaN,Unknown / Non-Applicable,0,no rating

In [78]:
df.shape

(2084, 13)

#tools of Data Science jobs

- python
- R Studio
- Spark
- aws 
- azure 
- excel
- tableu

In [79]:
df['python_yn']=df['job description'].apply(lambda x:1 if "python" in x.lower() else 0)
df['python_yn'].value_counts()

1    1485
0     599
Name: python_yn, dtype: int64

In [80]:
df['spark_yn']=df['job description'].apply(lambda x:1 if "spark" in x.lower() else 0)
df['spark_yn'].value_counts()

0    1840
1     244
Name: spark_yn, dtype: int64

In [81]:
df['azure_yn']=df['job description'].apply(lambda x:1 if "azure" in x.lower() else 0)
df['azure_yn'].value_counts()

0    1797
1     287
Name: azure_yn, dtype: int64

In [82]:
df['aws_yn']=df['job description'].apply(lambda x:1 if "aws" in x.lower() else 0)
df['aws_yn'].value_counts()

0    1473
1     611
Name: aws_yn, dtype: int64

In [83]:
df['excel_yn']=df['job description'].apply(lambda x:1 if "excel" in x.lower() else 0)
df['excel_yn'].value_counts()

0    1319
1     765
Name: excel_yn, dtype: int64

In [84]:
df['machine_learning_yn']=df['job description'].apply(lambda x:1 if "machine learning" in x.lower() else 0)
df['machine_learning_yn'].value_counts()

1    1268
0     816
Name: machine_learning_yn, dtype: int64

In [91]:
def title_extraction(title):
    if "data"in title.lower() and "analyst" in title.lower():
        return "data analyst"
    elif "data"in title.lower() and "scientist" in title.lower():
        return "data scientist" 
    elif "data"in title.lower() and "engineer" in title.lower():
        return "data engineer"
    elif "machine"in title.lower() and "learning" in title.lower():
        return "machine learning engineer"
    else:
        return "other"
        
def level_extraction(title="",description=""):
    se=title
    if se=="":
        se=description
    

    if 'sr' in se.lower() or "senior" in se.lower() or "lead" in se.lower() or "principal" in se.lower() or "manager" in se.lower():
        return "Senior"
    elif 'jr' in se.lower() or "junior" in se.lower() or "entry" in se.lower() or "associate" in se.lower() or "fresh" in se.lower():
        return "junior"
    else:
        return "mid"

In [92]:
df['job_simpl']=df['job title'].apply(lambda x : title_extraction(x))
df['seniority']=df['job title'].apply(lambda x : level_extraction(title=x))
df['seniority']=df.apply(lambda x :level_extraction(description=x['job description']) if x.seniority=="mid" else x.seniority ,axis=1 )


df.head()

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,...,hourly,rating,python_yn,spark_yn,azure_yn,aws_yn,excel_yn,machine_learning_yn,job_simpl,seniority
0,Microsoft,Data & Applied Scientist,"Redmond, WA",Microsoft 365 is a key part of the company’s c...,123486.0,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1975.0,...,0,4.4,1,0,0,1,0,1,data scientist,junior
1,UT Southwestern Medical Center,Data Scientist or Bioinformatician (remote),Remote,Center Information:\nThe Quantitative Biomedic...,93500.0,10000+ Employees,Hospital,Healthcare,Health Care Services & Hospitals,1943.0,...,0,4.0,1,0,0,0,0,1,data scientist,mid
2,Notion,"Data Scientist, Growth","New York, NY",About Us:\nWe're on a mission to make it possi...,137853.0,201 to 500 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2016.0,...,0,4.9,1,0,0,0,0,0,data scientist,Senior
3,Net2Aspire,Jr. Data Scientist,Remote, Apply Statistical and Machine Learning metho...,72500.0,Unknown,Company - Public,NaN,NaN,NaN,...,0,no rating,0,0,0,0,0,1,data scientist,junior
4,Ntropy Network,Data Scientist,Remote,"Over the last few decades, technological innov...",155000.0,1 to 50 Employees,Company - Private,NaN,NaN,NaN,...,0,no rating,1,0,0,1,0,0,data scientist,mid

In [93]:
df['seniority'].value_counts(),df['job_simpl'].value_counts()

(Senior    1132
 mid        524
 junior     428
 Name: seniority, dtype: int64,
 data scientist               1197
 data analyst                  328
 data engineer                 309
 machine learning engineer     174
 other                          76
 Name: job_simpl, dtype: int64)

In [94]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\msiik\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [95]:

print (stopwords.words('english') [0:50])

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be']

In [96]:
def preprocess(text):
    text=text.lower()
    text=re.sub(r"[^a-zA-Z0-9]"," ",text)
    text=text.split(" ")
    while text.count(""):
      text.remove("")
    en_stops = set(stopwords.words('english'))
    for i in text:
      if i in en_stops:
        text.remove(i)

    return text

In [97]:
df["description_len"] = df['job description'].apply(lambda x:len(preprocess(x)))
df.head()

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,...,rating,python_yn,spark_yn,azure_yn,aws_yn,excel_yn,machine_learning_yn,job_simpl,seniority,description_len
0,Microsoft,Data & Applied Scientist,"Redmond, WA",Microsoft 365 is a key part of the company’s c...,123486.0,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1975.0,...,4.4,1,0,0,1,0,1,data scientist,junior,359
1,UT Southwestern Medical Center,Data Scientist or Bioinformatician (remote),Remote,Center Information:\nThe Quantitative Biomedic...,93500.0,10000+ Employees,Hospital,Healthcare,Health Care Services & Hospitals,1943.0,...,4.0,1,0,0,0,0,1,data scientist,mid,267
2,Notion,"Data Scientist, Growth","New York, NY",About Us:\nWe're on a mission to make it possi...,137853.0,201 to 500 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2016.0,...,4.9,1,0,0,0,0,0,data scientist,Senior,589
3,Net2Aspire,Jr. Data Scientist,Remote, Apply Statistical and Machine Learning metho...,72500.0,Unknown,Company - Public,NaN,NaN,NaN,...,no rating,0,0,0,0,0,1,data scientist,junior,132
4,Ntropy Network,Data Scientist,Remote,"Over the last few decades, technological innov...",155000.0,1 to 50 Employees,Company - Private,NaN,NaN,NaN,...,no rating,1,0,0,1,0,0,data scientist,mid,522

In [98]:
df.to_csv("salary_data_cleaned.csv")